
body {
   	color: #292f33;   
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    height: 100%;	
}

.main-body {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-flex-direction: row; 
   	flex-direction: row;
   	-webkit-justify-content: center;
   	justify-content: center;
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	background-color: #C0DEED;
	background-image: url('../images/bg-image.png');
	background-repeat: no-repeat;
	flex-wrap: wrap;
	overflow: auto;
}

.main-body > div {
	margin-top: 66px;
	margin-left: 8px;
	margin-right: 8px;
	height: 100%;
}


.user-info {
	min-width: 288px;
}

.tweet-column-wrapper {
	min-width: 588px;
	margin-bottom: 100px;
}

#right-block {
	min-width: 288px;
	background-color: lightgrey;
	border: 1px solid darkgrey;
	height: 200px;
}


img.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -8px;
   margin-left:-24px;
   width: 24px;
   height: 18px;
}

img.user-icon {
	position: relative;
	top: 3;
	left: 3;
	border-radius: 5px;
	height: 70px;
	width: 70px;
	cursor: auto;
	vertical-align: bottom;
}

textarea:focus, input:focus{
    outline: 0;
    -webkit-appearance: textfield;
    letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	-webkit-writing-mode: horizontal-tb;
}



#nav-bar {
	position: fixed;
	width: 100%;
	height: 46px;
	margin-top: 0;
	margin-left: 0;
	background-color: rgb(245, 245, 245); 
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	height: 46px;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	font-size: 14px;
	z-index: 1000;
}

#user-icon-container {
	display: block;
	background-color: white;
	position: relative;
	top: -30;
	left: 8;
	border-radius: 6px;
	height: 76px;
	width: 76px;
	vertical-align: bottom;
}


#user-info-top {
	position: relative;
	width: 288px;
	height: 95px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #0084B4;
	border-bottom: 1px solid #e1e8ed;
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
}

#user-info-middle {
	position:relative;
	width: 288px;
	height: 102px;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 100;
}

#user-info-bottom {
	width: 288px;
	height: 56px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
	border-color: #BFE0EC !important;
	background-color: #E5F2F7 !important;
	border: 1px solid;
	border-radius: 0 0 5px 5px;
	margin-left: -1px;
	margin-bottom: -1px;	
}

#textbox {
	width: 262px;
	height: 30px;
	margin: 13 13;
	line-height: 18px;
	color: #8899a6;
 	border-color: rgba(0,132,180,0.25);
 	font-size: 14px;
  	position: relative;
  	vertical-align: top;
  	border: 1px solid #e1e8ed;
	border-radius: 3px;
	top: -10%;
}



#tweet-list-header {
	position: relative;
	width: 588px;
	height:47px;
	background-color: white;
	top: 0;
	left: 0;
	padding: 8 12 15 15;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;

}

#tweet-list-header-text {
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.tweet-container {
	position: relative;
	top: 0;
	left: 0;
	width: 588px;
	height: 100px;
	background-color: white;
	padding-right: 27;
	border-bottom: 1px solid #e1e8ed;
}

.avatar-icon {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 48px;
	height: 48px;
	padding: 5px;
	border-radius: 10px;

}

.tweet-user-name {
	font-weight: bold;
	font-size: 14px;
	color: #292f33;
	position: relative;
	float: left;
	margin-top: 14px;
	margin-left: 8px;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.tweet-user-address {
	font-weight: 400;
	font-size: 13px;
	color: #292f33;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 4px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #8899a6;
}

.tweet-time {
	font-weight: 400;
	font-size: 13px;
	color: #292f33;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 4px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #8899a6;
}

.tweet-text {
	font-weight: normal;
	font-size: 14px;
	color: #292f33;
	position: relative;
	float: left;
	margin-top: -34px;
	margin-left: 76px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	line-height: 1.4em;
	margin-right: -10px;
}

.tweet-expand {
	font-weight: 400;
	font-size: 13px;
	color: #292f33;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 4px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #8899a6;
	top: -10;
	left: 72;
}

#home-icon {
	background-size: 30px;
    background-position: 0 0;
	background-image: url(./../images/home-icon.png);
	padding-right: 3px;
}

#bell-icon {
	background-size: 30px;
	background-position: 0 0;
	background-image: url(./../images/bell-icon.png);
	padding-right: 3px;
}

#discover-icon {
	background-size: 30px;
	background-position: 0 0;
	background-image: url(./../images/discover-icon.png);
	padding-right: 3px;
}

#me-icon {
	background-size: 30px;
	background-position: 0 0;
	background-image: url(./../images/me-icon.png);
	padding-right: 3px;
}

.icon {
    display: inline-block;
    vertical-align: text-top;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#search {
  position: fixed;
  top: 10px;
  right: 200px;

}

#search-box {
	position: relative;
	top: -5;
	right: 0;
	z-index: 2;
	font-size: 14px;
	width: 242px;
	height: 36px;
	padding-left: 13px;
  	padding-right: 40px;
 	border-radius: 18px;
  	opacity: .6;
  	display: block;
  	border: 0;
  	color: white;
  	background-color: gray;
	text-overflow: initial;
	white-space: nowrap;
}

.search-button {
  	position: relative;
	top: -41;
	left: 210;
  	border: 0;
  	background-color: transparent;
  	padding-top: 5px;
   	outline: none;
}

.search-button img {
  height: 14px;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  border: 0;
  background-color: transparent;
  padding-top: 5px;
  z-index: 20;
  outline: none;
}

#direct-message {
  position: fixed;
  background-color: transparent;
  top: 7;
  right: 150;
  border: 0;
  outline: none;
  width: 30px;
  height:30px;
}  

#direct-message img {
  position: relative;
  background-color: transparent;
  top: 0;
  left: 0;
  border: 0;
  outline: none;
  width: 30px;
  height:30px;
}  

#settings {
  position: fixed;
  background-color: transparent;
  top: 6;
  right: 100;
  border: 0;
  outline: none;
  width: 30px;
  height:30px;
}  

#settings img {
  position: relative;
  background-color: transparent;
  top: 0;
  left: 0;
  border: 0;
  outline: none;
  width: 30px;
  height:30px;
}  

#compose {
  position: fixed;
  background-color: transparent;
  top: 3;
  right: 34;
  border: 0;
  outline: none;
  width: 46px;
  height:36px;
}  

#compose img {
  position: relative;
  background-color: transparent;
  top: 0;
  left: 0;
  border: 0;
  outline: none;
  width: 46px;
  height:36px;
}  

#user-name {
	position: relative;
    font-size: 20px;
    font-weight: 600;
	font-family: sans-serif,Arial;
	float: left;
	top: -68;
	left: 90;
	letter-spacing: 0.4;

}

#user-address {
	position: relative;
    font-size: 16px;
    font-weight: 200;
	font-family: sans-serif,Arial;
	float: left;
	top: -62;
	left: -26;
	letter-spacing: 0.2;
	color: rgb(100, 100, 100);
}

.user-stats {
	position: relative;
	margin-right: 18px;
	top: -50;
	left: 10;
	color: rgb(180, 180, 180);
	font-weight: 300;
	font-size: 11px;
	letter-spacing: .02em;
	text-transform: uppercase;
	overflow: hidden;
	font-family: sans-serif, Arial;
	text-decoration: none;
}

.user-stats a:visited {
	color: rgb(100, 100, 100);
}

.user-stats a {
	text-decoration: none;	
}

.user-stats a:hover {
	text-decoration: none;
	color:  #0084B4;
}

.user-stats-val {
	position: relative;
	top: -48;
	left: 10;
	color: #0084B4;
	font-size: 20px;
	font-family: sans-serif, Arial;
	text-decoration: none;
	font-weight: 400;
}

.user-stats-val a {
	text-decoration: none;
	color: #0084B4;
}

.user-stats-val a:hover {
	text-decoration: none;
	color: #0084B4;
}

.user-stats-val a:visited {
	text-decoration: none;
	color: #0084B4;
}

.user-stats-link {
	text-decoration: none;
}


#following-val{
	margin-left: 42px;
}

#followers-val {
	margin-left: 74px;
}

.who-to-follow {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-color: blue;
}


.spinner-container {
	position: relative;
	width: 50px;
	height: 100px;
	background-color: transparent;
	margin-left: 280px;
}


.spinner {
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
	top: 25px;
	background-image: url(./../images/spinner-icon.gif);
	background-size: 50px 50px;
    background-repeat: no-repeat;
}


.bottom-section {
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color: blue;
}

.nav .active>a, .nav>li>a:hover #home-icon {
    color: inherit;
    text-decoration: none;
    background-image: url(./../images/home-icon-blue.png);
}

.nav .active>a, .nav>li>a:hover #bell-icon {
    color: inherit;
    text-decoration: none;
    background-image: url(./../images/bell-icon-blue.png);
}

.nav .active>a, .nav>li>a:hover #discover-icon {
    color: inherit;
    text-decoration: none;
    background-image: url(./../images/discover-icon-blue.png);
}

.nav .active>a, .nav>li>a:hover #me-icon {
    color: inherit;
    text-decoration: none;
    background-image: url(./../images/me-icon-blue.png);
}

.global-nav, .nav .active>a, .btn {
    background-image: url(./../images/home-icon.png));
	position: relative;
	top: 0;
	left: 0;
    background-repeat: repeat-x;
}

.global-nav, .nav .active>a {
    background: transparent;
}

.global-nav, .nav, .nav>li {
    float: left;
}

#global-actions>li {
    height: 46px;
    overflow: hidden;
}

#global-actions>li>a {
    border-bottom: 4px solid #0084b4;
    transition: all .15s ease-in-out;
}

#global-actions>li:hover>a, #global-actions>li.active>a {
    height: 42px;
}

#global-actions>li:hover {
    color: #0084b4;
}

#global-actions .new:before {
    content: "\25CF";
    font-size: 16px;
    left: 17px;
    position: absolute;
    top: 3px;
}

.nav>li .Icon {
    float: left;
    margin: 10px 0 0 10px;
    width: 30px;
    height: 30px;
}

.nav>li>a .text {
    float: left;
    margin-left: 3px;
    margin-top: 19px;
    padding: 0;
    font-size: 14px;
}

.nav>li>a, .nav>li>button {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    line-height: 1;
    padding: 0 14px 0 4px;
}

@media screen and (max-width:700px) {
    .global-nav #global-nav-search .search-input {
    	width: 50px;
	}
}
@media screen and (max-width:1190px) {
    .global-nav .container {
    	min-width: 590px;
	}
}
@media screen and (max-width:938px) {
    .global-nav .container {
    	padding: 0;
	}
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #ccc;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #ccc;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #ccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #ccc;
}


