<!doctype>
<html>
    <head>
        <title>twitter_demo</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css">
        <link href="./css/reset.css" rel="stylesheet" type="text/css">

  
        <meta charset="utf8">
    </head>
    <body>


        <div class="nav-bar" id="nav-bar">

            <div role="navigation" style="display: inline-block;">
                <ul class="nav js-global-actions" id="global-actions">
                    
                    <li id="global-nav-home" class="home active new" data-global-action="home"> 
                        <a class="js-nav" href="/" data-component-term="home_nav" data-nav="home" title="Home"> 
                            <span class="Icon Icon--home Icon--large" id="home-icon"></span> 
                            <span class="text">Home</span> 
                        </a> 
                    </li>
                    
                    <li class="people notifications" data-global-action="connect"> 
                        <a class="js-nav" href="/i/notifications" data-component-term="connect_nav" data-nav="connect" title="Notifications"> 
                            <span class="Icon Icon--notifications Icon--large" id="bell-icon"></span> 
                            <span class="text">Notifications</span>  
                            <span class="count"> 
                            </span>  
                        </a> 
                    </li>
                    
                    <li class="topics" data-global-action="discover"> 
                        <a class="js-nav" href="/i/discover" data-component-term="discover_nav" data-nav="discover" title="Discover"> 
                            <span class="Icon Icon--discover Icon--large" id="discover-icon"></span> 
                            <span class="text">Discover</span> 
                        </a> 
                    </li>
                    
                    <li class="profile" data-global-action="profile"> 
                        <a class="js-nav" href="/anatis" data-component-term="profile_nav" data-nav="profile" title="Me"> 
                            <span class="Icon Icon--me Icon--large" id="me-icon"></span> 
                            <span class="text">Me</span> 
                        </a> 
                    </li>
                </ul>
            </div>



            <img src="images/twitter_logo_blue.png" class="logo" id="logo" data-pick="logo">


        </div>




        <div class="main-body" id="main-body">

            <img src="images/bg-image.png" class="bg-image" id="bg-image" data-pick="bg-image">

            <div class="user-info" id="user-info">
                <div class="user-info-top" id="user-info-top"> 
                </div>   
                <div class="user-info-middle" id="user-info-middle">
                    <div class="user-icon-container" id="user-icon-container">
                        <img src="images/user-icon.png" class="user-icon" id="user-icon" data-pick="user-icon">
                    </div>
                </div>  
                <div class="user-info-bottom" id="user-info-bottom">
                    <input type="text" class="textbox" id="textbox" placeholder="Compose new tweet..."></input>
                </div>        
            </div>

            <div class "tweet-list" id="tweet-list">
            </div>



        </div>

               

        <script src='lib/twitter_demo.js'></script>
        <script src='lib/jquery-2.1.1.min.js'></script>
        <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
        <script>


        </script>
    </body>
</html>

